<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code The Dream Weather Project Home</title>
    <!-- NUNITO SANS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
    <!-- ABRIL FATFACE FONT  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
    <!-- MULISH FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="container"> 
        <h1> Code The Dream Pre-Work Assignment </h1>
        <p>Hi, my name is Larrenz Carino and this is my Code The Dream Pre-Work Assignment. 
        This assignment uses Open-Meteo API to showcase the current weather for the user's given input. </p>
        <p>Please click one of the buttons below for the feature you want to try!</p>
        <div class="button-container">
            <a class="button-nav" href="current.html">Check Current Weather For Location</a> <br>
            <a class="button-nav" href="foecast.html">Check 7-day Forecast for Location</a>
        </div>
        
    </div>
    

    <script src="../static/js/script.js"></script>
</body>
</html>  